language: java
jdk:
  - openjdk17

sudo: required

services:
  - docker

before_install:
  - sudo apt-get update
  - docker-compose --version
  - sudo service mysql stop
  - sudo service postgresql stop
  - docker-compose up -d

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - mvn test -B

after_success:
  - bash <(curl -s https://codecov.io/bash)

after_script:
  - docker-compose stop
